.App {
  height: 100vh;
  background: linear-gradient(#DEEBF8,#FFFAD1);
}
main {
  display: flex;
  justify-content: center;
  height: inherit;
  align-items: center;
  margin: 0 10vw;
}

button {
  background-color: #4D5B9E;
  color: #F5F7FB;
  font-size: 16px;
  padding: 15px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.start-page {
  text-align: center;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

p.game-desc {
  font-size: 18px;
  margin: 10px auto 30px;
}

.in-quiz-btn {
  font-size: 16px;
  padding: 12px 20px;
  width: fit-content;
  align-self: center;
}

.quiz-page {
  display: flex;
  flex-direction: column;
}

.quiz-set {
  border-bottom: 1px solid #DBDEF0;
  margin-bottom: 20px;
}

.quiz-question {
  font-weight: bold;
  font-size: 18px;
  color: #293264;
}

.quiz-question span:first-of-type {
  margin-left: 0px;
}

.quiz-option {
  border: 2px solid #293264;
  border-radius: 8px;
  color: #293264;
  cursor: pointer;
  display: inline-block;
  margin: 10px 10px 20px 0px;
  padding: 3px 10px;
}

.selected {
  background-color: #D6DBF5;
}

.correct {
  background-color: #3de912;
}

.incorrect {
  background-color: #F8BCBC;
}

.unselected-correct {
  background-color: #94D7A2;
}

.disabled span {
  cursor: default;
  opacity: 0.8;
}
.score {
  color: #293264;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}